@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  display: flex;
  max-width: 600px;
  align-items: center;
  padding: 20px;
  background-color: #333;
  margin: 0 auto;
  border-bottom: 1px solid white;
}

.navbar h1 {
  color: hsl(0, 43%, 25%);
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: auto;
  text-decoration: none;
  padding: 6px;
}

.navgar .links a:hover {
  color: #ddd;
}

.content {
  max-width: 600px;
  margin : 40px auto;
  padding : 20px;
}